:root {
  --background-primary: #010101;
  --background-secondary: #050505;
  --background-secondary-alt: #030303;
  --background-tertiary: #010101;
  --background-floating: #080808;
  --channeltextarea-background: #050505;
}